body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content{
    flex-grow: 1;
}

footer{
    color:#3339;
    border-top: 1px solid #333333;
    margin-top: 16px;
    padding: 16px 0;
}

header{
    margin-top: 16px;
    margin-bottom: 48px;
}

header a {
    margin-right: 16px;
    color: #3339;
    text-decoration: none;
}

.me{
    height: 250px;
    width: 350px;
}

button {
    background-color:#1818d9;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    margin-bottom: 20px;
}

input{
    border-color:black; 
    border-radius:10px; 
    padding:10px;
    min-height:24px; 
    min-width: 120px;
}

.output{
    background-color: #eae5e5;
    box-shadow: 5px 5px 15px rgb(116, 119, 119);
    margin: auto;
    width: 50%;
    border: 3px solid rgb(231, 229, 229);
    padding: 10px;
    min-height: 400px;
    min-width: 625px;
    border-radius: 10px;
}

#Temperature{
    font-size: 100px;
}


#forecast{
    font-size: 45px;
}