<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="./img/weather-icon.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./CSS/style.css">
</head>
<body>
    <div class="main-content">
        {{>headers}}
        <img class="me" src="./img/IMG_4014.JPG">
    </div>
    {{>footer}}
</body>
</html>